@let userLoadStatusSignal = userDataLoadStatus();
@let userDataSignal = userData();
@let createUserStatusSignal = createUserStatus();
@let showHiddenCategoriesValue = showHiddenCategories();

<div class="app-container">
    <header class="app-header">
        <div class="header-content">
            <div class="logo-container">
                <img src="assets/duck-logo.png" alt="Logo" class="app-logo" />
            </div>
            <div class="header-controls">
                <button
                    mat-icon-button
                    (click)="toggleShowHiddenCategories()"
                    aria-label="Versteckte Kategorien anzeigen"
                >
                    <mat-icon>{{
                        showHiddenCategoriesValue ? 'visibility' : 'visibility_off'
                    }}</mat-icon>
                </button>
                <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleTheme()" color="primary">
                    <mat-icon>{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon>
                </mat-slide-toggle>
            </div>
        </div>
    </header>

    <main class="app-content">
        @if (userLoadStatusSignal) {
            @if (userLoadStatusSignal === 'loading' || userLoadStatusSignal === 'not-loaded') {
                <app-loading-duck message="Daten werden geladen..." duckType="flapping" />
            } @else if (userLoadStatusSignal === 'load-failed') {
                <app-error-message
                    message="Fehler beim Laden der Daten. Bitte versuche es später erneut."
                />
            } @else if (userLoadStatusSignal === 'loaded') {
                @if (userDataSignal) {
                    <router-outlet></router-outlet>
                } @else {
                    @if (createUserStatusSignal === 'submitted') {
                        <div *ngIf="userDataSignal">
                            <router-outlet></router-outlet>
                        </div>
                    } @else if (createUserStatusSignal === 'submitting') {
                        <app-loading-duck
                            message="Super! Dein Haushalt wird erstellt..."
                            [duckType]="'jumping'"
                        >
                        </app-loading-duck>
                    } @else if (createUserStatusSignal === 'submit-failed') {
                        <app-error-message
                            message="Fehler beim Erstellen deines Haushalts. Bitte versuche es später erneut."
                            [showRetryButton]="true"
                            (retry)="createAccount()"
                        >
                        </app-error-message>
                    } @else {
                        <app-welcome (createAccount)="createAccount()" (closeApp)="closeApp()">
                        </app-welcome>
                    }
                }
            }
        }
    </main>
</div>
