<div class="loading-container" [ngClass]="{ 'compact-container': compact }">
    <!--    <mat-spinner [diameter]="spinnerDiameter" [color]="spinnerColor" class="loading-spinner">-->
    <!--    </mat-spinner>-->
    <div
        [ngClass]="{
            'duck-emoji': duckType === 'swimming',
            'jumping-duck': duckType === 'jumping',
            'dancing-duck': duckType === 'dancing',
            'spinning-duck': duckType === 'spinning',
            'flapping-duck': duckType === 'flapping',
        }"
    >
        🦆
    </div>
    <p class="loading-text">{{ message }}</p>
</div>
