@switch (buttonType()) {
    @case ('primary') {
        <button mat-raised-button [type]="type()" [disabled]="disabled()" (click)="handleClick()">
            {{ text() }}
        </button>
    }
    @case ('secondary') {
        <button mat-button [type]="type()" [disabled]="disabled()" (click)="handleClick()">
            {{ text() }}
        </button>
    }
    @case ('accent') {
        <button
            mat-raised-button
            color="accent"
            [type]="type()"
            [disabled]="disabled()"
            (click)="handleClick()"
        >
            {{ text() }}
        </button>
    }
    @case ('outline') {
        <button mat-stroked-button [type]="type()" [disabled]="disabled()" (click)="handleClick()">
            {{ text() }}
        </button>
    }
    @case ('flat') {
        <button mat-flat-button [type]="type()" [disabled]="disabled()" (click)="handleClick()">
            {{ text() }}
        </button>
    }
    @default {}
}
